.whitebox{
    background-color: white;
border-radius: 12px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 32px ;
    padding: 32px;

}



.box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;


}



.boximage{
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: all 0.3s ease;
    grid-column: 1 / 3;
    border-radius: 12px;
}

.boximage:hover{
    height: 300px;
    scale: 1.05;


}

.box h4{
    font-weight: 400;

}

.box a{

    display: flex;
    justify-content: end;
    align-items: center;

    color: blue;

}

.linkBox{
  
    display:flex;
    align-items: center;
    justify-content: end;

    gap: 12px;
}

.box h6{

    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 400;
    font-size: 16px;

    padding: 0px;
    line-height: 0px;
    margin: 0px;


    

}

.filter{


    padding: 12px;
    display: flex;
    align-items: center;
    gap: 12px;



}

.filter h4{
    font-weight: 400;
}


.filterbutton{
    border: none;
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    
}

.filterbutton:hover{
    scale: 1.05
}



.selected{
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid black;
    
}

.selected:hover{
    scale: 1.05;
}