.heading{
    font-weight: 400;
}

.whiteBox{

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    text-align: center;

    padding-top: 48px;

    gap: 24px;

}


.whiteBox p{
    font-weight: 400;
    font-size: 16px;

    line-height: 26px;
    letter-spacing: 1px;
}


.button{

        padding: 12px 30px 12px 30px;
    background-color: black;
    color: white;
    border: none;

    border-radius: 10px;
    transition: all 0.3s ease;

    margin-left: 24px;

    text-decoration: none;



}

.button:hover{
     cursor: pointer;
    padding: 12px 40px 12px 30px;

    overflow-y: hidden;

}



.lottieCont{
    width: 100px;

}

.white{
    background-color: white;

}